<div class="wrapper">
  <div class="centerFormWrapper">
    <div class="loginForm">
      <div class="formTitleBanner">
        <p class="formTitle">Sign In</p>
      </div>
      <form [formGroup]="loginForm" class="formInputsWrapper">
        <mat-form-field class="usernameOrEmail">
          <mat-error>Username/Email required</mat-error>
          <input
            matInput
            #emailOrUserNameInput
            placeholder="Username / Email"
            (keypress)="submitOnEnter($event.key)"
            formControlName="emailOrUserName"
          />
        </mat-form-field>
        <mat-form-field class="password">
          <mat-error>Password required</mat-error>
          <input
            matInput
            type="password"
            placeholder="Password"
            (keypress)="submitOnEnter($event.key)"
            formControlName="password"
          />
        </mat-form-field>
        <button
          class="formSubmitButton"
          type="submit"
          (click)="signIn()"
          [disabled]="formDisabled"
        >
          SIGN IN!
        </button>

        <div class="signupLink">
          Not a member? <a routerLink="/register">Sign up!</a>
        </div>

        <div class="socialMediaIconsWrapper">
          <p>or sign in with:</p>
          <div class="socialMediaIcons">
            <div class="socialMediaIcon">
              <a class="fa fa-twitter pointer"></a>
            </div>
            <div class="socialMediaIcon">
              <a class="fa fa-facebook-f pointer"></a>
            </div>
            <div class="socialMediaIcon">
              <a class="fa fa-google pointer"></a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
