<div class="wrapper">
  <div class="centerFormWrapper">
    <div class="loginForm">
      <div class="formTitleBanner">
        <p class="formTitle">Sign In</p>
      </div>
      <form [formGroup]="form" class="formInputsWrapper">
        <mat-form-field class="usernameOrEmail">
          <mat-error>Username/Email required</mat-error>
          <input
            matInput
            #emailOrUserNameInput
            placeholder="Username / Email"
            (appHitEnter)="signIn()"
            formControlName="emailOrUserName"
          />
        </mat-form-field>
        <mat-form-field class="password">
          <mat-error>Password required</mat-error>
          <input
            matInput
            type="password"
            placeholder="Password"
            (appHitEnter)="signIn()"
            formControlName="password"
          />
        </mat-form-field>
        <div class="formSubmitAndErrorWrapper">
          <p
            class="formError incorrectUserPassword"
            *ngIf="incorrectUserPassword"
          >
            Incorrect Username/Password
          </p>
          <button
            class="formSubmitButton"
            type="submit"
            (click)="signIn()"
            [disabled]="formDisabled"
          >
            SIGN IN!
          </button>
        </div>

        <div class="signupLink">
          Not a member? <a routerLink="/register">Sign up!</a>
        </div>

        <app-social-media-auth
          [formDisabled]="formDisabled"
        ></app-social-media-auth>
      </form>
    </div>
  </div>
</div>
