.wrapper {
  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  // grid-template-columns: repeat(auto-fill, 140px);
  // grid-template-rows: repeat(autofill, 265px);
  grid-gap: 30px;
  justify-content: center;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  text-align: justify;
  padding-right: 80px;
  padding-left: 80px;
}
