@import '~@angular/material/theming';

@import 'styles/colors.scss';
@import 'styles/fonts.scss';
@import 'styles/screenSizes.scss';

@import 'styles/components/drop-down.scss';
@import 'styles/components/wrapper.scss';

@import 'styles/components/forms.scss';

@include mat-core();
.pointer {
  cursor: pointer;
}

body {
  // background-color: $white;
}

a {
  color: $lighter-green;
}

h1 {
  color: $darker-grey;
}

$navbar-height: 64px;
$sidebar-width: 74px;
