// $primary: #4484ce;
// $accent: #d98328;
$green: #1e9c85;
$lighter-green: #25bea2;
$white: #ffffff;
$light-grey: #f5f5f5;
$moderate-grey: #cccccc;
$dark-grey: #aaaaaa;
$really-dark-grey: #333333;

// social media colors
$twitter-blue: #00aced;
