// $primary: #4484ce;
// $accent: #d98328;
$green: #1e9c85;
$lighter-green: #25bea2;
$solid-green: #15d8b4;

$dark-green: #125a4d;
$white: #ffffff;
$light-grey: #f5f5f5;
$slightly-light-grey: #e2e2e2;
$moderate-grey: #cccccc;
$dark-grey: #aaaaaa;
$darker-grey: #777777;
$really-dark-grey: #333333;

// social media colors
$twitter-blue: #00aced;
