<nav id="background" class="navbar navbar-expand">
  <div id="mainLogo" class="navbar-brand navbar-left nav-item">
    <a routerLink="/home">
      <img src="assets/images/websiteLogo.png" alt="Nothing here" />
    </a>
  </div>
  <div class="input-group nav-item searchbar">
    <input
      type="text"
      class="form-control"
      placeholder="Find a product"
      aria-label="Recipient's username"
    />
    <div class="input-group-append">
      <span class="input-group-text search-button pointer">
        <i class="fa fa-search search-icon" aria-hidden="true"></i>
      </span>
    </div>
  </div>
  <ul class="nav-list nav-item">
    <li class="nav-list-item pointer cart">
      <i class="fa fa-shopping-cart"></i>
    </li>
    <li class="nav-list-item profile">
      <i
        #profileDropdown
        class="fa fa-user-circle-o pointer"
        aria-hidden="true"
      >
      </i>
      <app-drop-down [buttonToOpen]="profileDropdown">
        <b>Profile</b>
        <hr />
        <li>Login</li>
        <li>Register</li>
      </app-drop-down>
    </li>
  </ul>
</nav>
