<div class="wrapper">
  <div class="centerFormWrapper">
    <div class="registrationForm">
      <div class="formTitleBanner">
        <p class="formTitle">Sign Up</p>
      </div>
      <form class="formInputsWrapper">
        <div class="names">
          <mat-form-field class="first-name">
            <input matInput placeholder="First Name" />
          </mat-form-field>
          <mat-form-field class="last-name">
            <input matInput placeholder="Last Name" />
          </mat-form-field>
        </div>
        <mat-form-field class="username">
          <input matInput placeholder="Username" />
        </mat-form-field>
        <mat-form-field class="email">
          <input matInput type="email" placeholder="Email" />
        </mat-form-field>
        <mat-form-field class="password">
          <input matInput type="password" placeholder="Password" />
          <mat-hint>This should be at least 6 characters with 1 digit</mat-hint>
        </mat-form-field>
        <mat-form-field class="confirm-password">
          <input matInput type="password" placeholder="Confirm Password" />
        </mat-form-field>

        <button class="formSubmitButton" type="button">SIGN UP!</button>

        <div class="socialMediaIconsWrapper">
          <p>or sign up with:</p>
          <div class="socialMediaIcons">
            <div class="socialMediaIcon">
              <a class="fa fa-twitter pointer"></a>
            </div>
            <div class="socialMediaIcon">
              <a class="fa fa-facebook-f pointer"></a>
            </div>
            <div class="socialMediaIcon">
              <a class="fa fa-google pointer"></a>
            </div>
          </div>
        </div>

        <hr />

        By clicking Sign up you agree to the<br /><a class="tos" routerLink="/"
          >terms of service</a
        >
      </form>
    </div>
  </div>
</div>
