<div class="wrapper">
  <div class="centerFormWrapper">
    <div class="registrationForm">
      <div class="formTitleBanner">
        <p class="formTitle">Sign Up</p>
      </div>
      <form [formGroup]="form" class="formInputsWrapper">
        <div class="names">
          <mat-form-field class="first-name">
            <input
              matInput
              placeholder="First Name"
              formControlName="firstName"
            />
            <mat-error appFormError></mat-error>
          </mat-form-field>
          <mat-form-field class="last-name">
            <input
              matInput
              placeholder="Last Name"
              formControlName="lastName"
            />
          </mat-form-field>
        </div>
        <mat-form-field class="username">
          <input matInput placeholder="Username *" formControlName="username" />
        </mat-form-field>
        <mat-form-field class="email">
          <input
            matInput
            type="email"
            placeholder="Email *"
            formControlName="email"
          />
        </mat-form-field>
        <mat-form-field class="password">
          <input
            matInput
            type="password"
            placeholder="Password *"
            formControlName="password"
          />
          <mat-hint>This should be at least 6 characters with 1 digit</mat-hint>
        </mat-form-field>
        <mat-form-field class="confirm-password">
          <input
            matInput
            type="password"
            placeholder="Confirm Password *"
            formControlName="confirmPassword"
          />
        </mat-form-field>

        <div class="formSubmitAndErrorWrapper">
          <button class="formSubmitButton" type="submit" (click)="register()">
            SIGN UP!
          </button>
        </div>
        <app-social-media-auth
          [formDisabled]="formDisabled"
        ></app-social-media-auth>

        <hr />

        By clicking Sign up you agree to the<br /><a class="tos" routerLink="/"
          >terms of service</a
        >
      </form>
    </div>
  </div>
</div>
